<section class='movie'>
  <h1>My Library</h1>
  <%= link_to "Chercher des films", movies_path %>
  <%= form_tag library_index_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search], :placeholder => "Search in library:" %>
    <%= submit_tag("Search", name: nil) %>
  <% end %>
    <% if @library.length > 0 %>
      <div class="movie__cards">
        <% @library.each do |item| %>
          <div class="movie__cards__card">
            <% if defined?(item.id) %>
              <%= link_to image_tag("https://image.tmdb.org/t/p/original/#{item.poster_path}", class: "movie__cards__card__image"), movie_path(item.db_id) %>
            <% elsif defined?(item['id']) %>
              <%= link_to image_tag("https://image.tmdb.org/t/p/original/#{movie['poster_path']}", class: "movie__cards__card__image"), movie_path(item['db_id']) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if params[:search] %>
        <p>No results found for <%= params[:search] %></p>
      <% else %>
        <p>No movies found</p>
      <% end %>
    <% end %>
</section>
